* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "";
  src: url();
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightslategrey;
  flex-direction: column;
}

.pop-up-rules {
  background-color: rgba(0, 0, 0, 0.94);
  font-size: 1rem;
  font-stretch: extra-expanded;
  color: white;
  text-align: center;
  position: fixed;
  width: 750px;
  height: 400px;
  margin: auto;
  padding: 120px 90px;
  border-radius: 15px;
  border: 4px solid grey;
}

.pop-up-rules button {
  font-family: ;
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 15px 50px;
  border-radius: 80px;
}

.section1 {
  /* background-image: ; */
  background-color: white;
  border-radius: 0.4em;
  box-shadow: 0 0 3.2em black;
  /* position: absolute; */
  height: 32em;
}

.element1 {
  background-color: black;
  width: 5em;
  height: 0.6em;
  position: absolute;
  left: calc(50% - 5%);
}

.ball {
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 100vh;
  background-color: ;
  bottom: 20rem;
  right: 13em;
}

.fallingBall {
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 100vh;
  background-color: black;
  top: 7em;
  left: 0.8em;
}

.space {
  width: 50em;
  height: 500px;
  border: 1px solid black;
  border: 0;
}

h1 {
}

/* 
@media (768px <= width <= 1024px) {
    * { */
