* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "titlepolice";
  src: url("./font/Boba\ Cups.otf");
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dfa6e0;
  flex-direction: column;
}

#popup {
  background-color: rgba(0, 0, 0, 0.94);
  position: absolute;
  font-size: 1rem;
  font-stretch: extra-expanded;
  color: white;
  text-align: center;
  position: fixed;
  width: 750px;
  height: 400px;
  margin: auto;
  padding: 120px 90px;
  border-radius: 15px;
  border: 4px solid grey;
}

#popup button {
  /* font-family: ; */
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 15px 50px;
  border-radius: 80px;
}

.section1 {
  /* display: none; */
  /* background-color: white; */
  background-image: url(./img/4231176.jpg);
  border-radius: 0.4em;
  box-shadow: 0 0 3.2em white;
  position: absolute;
  height: 500px;
  top: 200px;
  width: 50em;
  height: 500px;
}

.score-and-title {
  position: absolute;
  /* display: none; */
  top: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 112px;
  justify-content: space-between;
}

.element1 {
  /* background-color: black; */
  background-image: url(./img/good\ panier\ .png);

  width: 80px;
  height: 80px;
  position: absolute;
  left: calc(50% - 5%);
}

.ball {
  position: absolute;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 100vh;
  background-color: purple;
  bottom: 300px;
  right: 200px;
}

.fallingBall {
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 100vh;
  background-color: red;
  top: 10em;
  left: 8.8em;
}

h1 {
  color: white;
  font-family: "titlepolice";
}

/* score */
.score-and-title div {
  margin-left: 1200px;
  font-size: x-large;
  color: white;
  font-weight: bold;
  font-family: "titlepolice";
}

/* start button */
#start-game {
  background-color: white;
  color: #ff4081;
  font-size: 1.5rem;
  margin: 1px;
  border-radius: 40px;
  font-family: "titlepolice";
  padding: 15px 0px;
  width: 250px;
  border: 4px solid white;
  box-shadow: 5px 5px 0 rgba(172, 137, 166, 0.94);
}

/* when win  */
#win {
  margin: 100px 300px;
  padding: 100px;
}

h2 {
  font-family: "titlepolice";
  background-color: white;
  color: black;
}
